<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link href="/static/dashboard.css" rel="stylesheet">
</head>
<body>
    <div class="control_panel">
        <a href="/dashboard" class="Home">Home</a>
        <!--<a class="Home" href="{{ url_for('dashboard') }}">Home</a>--><br>
        <a class="Market" href="{{ url_for('market') }}">Market</a><br>
        <a class="history" href="{{ url_for('history') }}">My history</a><br>
        <a class="expenses" href="{{ url_for('expenses') }}" >My expenses</a><br>
        <a href="{{ url_for('logout') }}" class="logout"><img src="/static/Assets/log-out_15093126.png" class="logout_img"></a>
    </div>
    <div class="homepage">
        <div class="Welcome">
            <div class="blabla">
                <h1 class="hello">Hello, El mehdi</h1>
                <p><i>“A wise person should have money in their head, but not in their heart.”</i><br>
                    Jonathan Swift</p>
            </div>
            <div class="money">
                <img src="/static/Assets/Hands - Cash.png" class="money_img">
            </div>
        </div>
    </div>
    <script>
        const currentURL = window.location.pathname;
        document.querySelectorAll('a').forEach(link => {
          if (link.getAttribute('href') === currentURL) {
            link.classList.add('active');
          }
        });
      </script>
</body>
</html>
<!--<form action="/search" method="POST">
        <input type="text" name="query" placeholder="Nom du produit" required>
        <button type="submit">Rechercher</button>
    </form>-->