<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/signup-page-style.css" rel="stylesheet">
        <title>sign up</title>
        <script src="/static/app1.js" defer></script>
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    </head>
    <body>
        <h1 style="color: aliceblue;">Sign up</h1><br>
        <div class="Expenses" style="color: aliceblue;">
        <h1 style="color: rgb(132, 161, 224);">Expenses</h1>
        <br>
        <p style="color: black;">Please rank your expenses by priority</p>
        <br>
        <ul class="sortable-list" >
            <li class="item" draggable="true">
                <div class="details">
                    <img src="Assets/car.svg">
                    <span>Transportation</span>
                  </div>
                  <i class="uil uil-draggabledots"></i>
            </li>
            <li class="item" draggable="true">
                <div class="details">
                    <img src="Assets/clothing.svg">
                    <span>Clothing</span>
                  </div>
                  <i class="uil uil-draggabledots"></i>
            </li>
            <li class="item" draggable="true">
                <div class="details">
                    <img src="Assets/education.svg">
                    <span>Education</span>
                  </div>
                  <i class="uil uil-draggabledots"></i>
            </li>
            <li class="item" draggable="true">
                <div class="details">
                    <img src="Assets/health-sign.svg">
                    <span>Healthcare</span>
                  </div>
                  <i class="uil uil-draggabledots"></i>
            </li>
            <li class="item" draggable="true">
                <div class="details">
                    <img src="Assets/house.svg">
                    <span>Housing</span>
                  </div>
                  <i class="uil uil-draggabledots"></i>
            </li>
            <li class="item" draggable="true">
                <div class="details">
                    <img src="Assets/meal.svg">
                    <span>Food</span>
                  </div>
                  <i class="uil uil-draggabledots"></i>
            </li>
            <li class="item" draggable="true">
                <div class="details">
                    <img src="Assets/money.svg">
                    <span>Savings</span>
                  </div>
                  <i class="uil uil-draggabledots"></i>
            </li>
            <li class="item" draggable="true">
                <div class="details">
                    <img src="Assets/utilities.svg">
                    <span>Utilities</span>
                  </div>
                  <i class="uil uil-draggabledots"></i>
            </li>
            <li class="item" draggable="true">
                <div class="details">
                    <img src="Assets/sanitizer.svg">
                    <span>Personal care</span>
                  </div>
                  <i class="uil uil-draggabledots"></i>
            </li>
            <li class="item" draggable="true">
                <div class="details">
                    <img src="Assets/insurance.svg">
                    <span>Insurance</span>
                  </div>
                  <i class="uil uil-draggabledots"></i>
            </li>
        </ul>
        <div class="button-container">
        <button class="final-back">back</button>
        <button class="final-next">confirm</button>
        </div>
        </div>
    </body>
</html>