<html>
    <head>
        <style>
            html,body {
                height: 100%;
                margin: 0;
                padding: 0;
            }
            body {
                display: grid;
                grid-template-columns: 70% 30%;
            }
            .b1 {
    background-color: black;
    height: 100%;
}
            .b2 {
    background-color: red;
    height: 100%;
}
        </style>
    </head>
    <body>
        <div class="b1">
            <img src="/templates/Assets/piggy_bank.png" alt="Piggy bank image" class="pig">
        </div>
        <div class="b2"></div>
        <!--<img src="/templates/Assets/piggy_bank.png" alt="Piggy bank image" class="pig">-->
    </body>
</html>